/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

lucida {
  font-family: Lucida Console, Monaco, monospace;
}

rubik {
  font-family: 'Rubik', sans-serif;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

nav ul ul a {
  color: #444;
}

body {
  font-family: 'Rubik', sans-serif;
}

div div ul {
  padding: 0 0 0 50px;
}
div div ul li {
  list-style-type: circle;
}

p {
  line-height: 2rem;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h5 {
  font-weight: 400;
}

div div a:link {
  text-decoration: none;
  color: orange;
}

div div a:visited {
  text-decoration: none;
  color: orange;
}

div div a:hover {
  text-decoration: none;
  color: orange;
}

/* selected link */
div div a:active {
  text-decoration: none;
  color: orange;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}